@import '../../scss/styles.scss';

@layer cms-default {
  .json-field {
    position: relative;

    &.error {
      .code-editor {
        border-color: var(--theme-error-500);
      }

      .monaco-editor-background,
      .margin {
        background-color: var(--theme-error-50);
      }
    }
  }
}
